{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant App</title>
  <style>

  </style>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/boostrap.css"> -->
</head>

<body>

  <div class="container-fluide">
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img src="../static/images/resto_bg.png" class="" width="100%" style="height: 350px;">
          <div class="carousel-caption ">
            <p style="margin-left: -90%; margin-bottom: 10%;"> <img src="../static/images/restaurant.png"
                alt="restaurant" style="border-radius: 50%; height: 100; width: 100px;">
              <span style="text-transform: uppercase; font-size: 30px;  margin-left: 1%">
                <strong>{{image.resto_name}}</strong></span> <br> <span style="color: #ffffff; font-size: 15px;">
                {{image.location}} </span> </p>

          </div>
        </div>
      </div>


    </div>

    <div class="row py-5" style="background-color: #f5fafc;">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="card">
          <!-- Card content -->
          <div class="card-body">
            <ul class="nav">
              <li class="active"><a href="#Home" data-toggle="tab" style="color: #ff6000;">INFO</a></li>
              <li><a href="#Product" data-toggle="tab" style="color: #3b3b3b;">RATINGS</a></li>
            </ul>
            <hr>


            <div class="tab-content">
              <div id="Home" class="tab-pane fade in active"> <br>
                <p> <strong>NAME</strong> : <span> {{image.resto_name}}</span> </p>
                <p> <strong>PHONE</strong> : +(250)000 000 000</p>
                <P> <strong>WEBSITE</strong> : www.{{image.resto_name}}.com</P>
                <p> <strong>LOCATION</strong> : {{image.location}}</p>
                <P> <strong>ONLINE DELIVERY</strong> : yes</P>
                <P> <strong>CUISINES</strong> : Cafe </P>
                <p> <strong>CURRENCY</strong> : $</p>
                <P> <strong>PRICE RANGE </strong> : 2</P>
              </div>
              <div id="Product" class="tab-pane fade">
                <p> <img src="../static/images/restaurant.png" alt="restaurant"
                    style="border-radius: 50%; height: 30px; width: 30px;">
                  <span style="font-size: 15px; margin-left: 2%;">
                    <strong>Yves Honore</strong></span> <br> <span
                    style="color: #ff6000; font-size: 12px;  margin-left: 9%;">5 star </span> <br> <br>
                  <span style="color: #3b3b3b; font-size: 15px;  margin-left: 9%;"> Lorem ipsum dolor sit, amet
                    consectetur adipisicing elit. </span>
                </p> <br>

                <p> <img src="../static/images/restaurant.png" alt="restaurant"
                    style="border-radius: 50%; height: 30px; width: 30px;">
                  <span style="font-size: 15px; margin-left: 2%;">
                    <strong>Yves Honore</strong></span> <br> <span
                    style="color: #ff6000; font-size: 12px;  margin-left: 9%;">5 star </span> <br> <br>
                  <span style="color: #3b3b3b; font-size: 15px;  margin-left: 9%;"> Lorem ipsum dolor sit, amet
                    consectetur adipisicing elit. </span>
                </p> <br>

                <p> <img src="../static/images/restaurant.png" alt="restaurant"
                    style="border-radius: 50%; height: 30px; width: 30px;">
                  <span style="font-size: 15px; margin-left: 2%;">
                    <strong>Yves Honore</strong></span> <br> <span
                    style="color: #ff6000; font-size: 12px;  margin-left: 9%;">5 star </span> <br> <br>
                  <span style="color: #3b3b3b; font-size: 15px;  margin-left: 9%;"> Lorem ipsum dolor sit, amet
                    consectetur adipisicing elit. </span>
                </p> <br>
                <p> <img src="../static/images/restaurant.png" alt="restaurant"
                    style="border-radius: 50%; height: 30px; width: 30px;">
                  <span style="font-size: 15px; margin-left: 2%;">
                    <strong>Yves Honore</strong></span> <br> <span
                    style="color: #ff6000; font-size: 12px;  margin-left: 9%;">5 star </span> <br> <br>
                  <span style="color: #3b3b3b; font-size: 15px;  margin-left: 9%;"> Lorem ipsum dolor sit, amet
                    consectetur adipisicing elit. </span>
                </p>
              </div>
            </div>

          </div>

        </div>
      </div>

      <!--  -->
      <div class="col-md-6">
        <div class="card">
          <!-- Card content -->
          <div class="card-body">
              <h1 style="color: #ff6000;"> <strong> Menu</strong></h1> <br>
              <h2><strong>Breakfast</strong> </h2> <br>              
                <p> <strong>IBURAHA</strong> : <span style="color: #ff6000;"> 200 Frw</span> </p>
                <p> <strong>IRINDAZI</strong> : <span style="color: #ff6000;">100 Frw</span></p>
                <P> <strong>IBISHITANI</strong> : <span style="color: #ff6000;">400 Frw</span></P>
                <p> <strong>BANJIYA</strong> : <span style="color: #ff6000;">50 Frw</span> </p>
                <P> <strong>SAMBUSA</strong> : <span style="color: #ff6000;">200 Frw</span> </P>
                <P> <strong>ROLEX</strong> :  <span style="color: #ff6000;">300 Frw</span> </P>
            </div>

            <h2> <strong>Lunch</strong> </h2> <br>              
            <p> <strong>IMVANGE</strong> : <span style="color: #ff6000;"> 1500 Frw</span> </p>
            <p> <strong>CHAPATI</strong> : <span style="color: #ff6000;">500 Frw</span> </p>
            <P> <strong>UMUCERI</strong> : <span style="color: #ff6000;">1500 Frw</span></P>
            <p> <strong>INYAMA</strong> : <span style="color: #ff6000;">800 Frw</span></p>
            <P> <strong>UBUGARI</strong> : <span style="color: #ff6000;">600 Frw</span></P>
            <P> <strong>IFIRITI</strong> : <span style="color: #ff6000;">1000 Frw</span> </P>
        </div>
      </div>
      <!--  -->
      <div class="col-md-1"></div>
    </div>

  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</html>

{% endblock %}